@model IEnumerable<nebrangu.Models.Mood>

@{
    ViewData["Title"] = "Nuotaikos pasirinkimas";
}

<h1>Nuotaikos pasirinkimas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align: right;">
                    <a class="btn btn-primary" asp-action="SelectEmotion" asp-route-emotion="@item.Id">Pasirinkti</a>
                </td>
            </tr>
        }
    </tbody>
</table>