@using Newtonsoft.Json
@model IEnumerable<nebrangu.Models.User>

@{
    ViewData["Title"] = "Profilis";

}

<h1>Profilis</h1>

<td >
    <a class ="btn" asp-area="" asp-controller="Order" asp-action="Index">Užsakymų istorija</a>
</td>
