@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nebrangu.lt</h1>
    <p>Sveiki atvykę į svetainę, čia galite rasti pigių, bet kokybiškų prekių :)</p>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="EmotionSelection">Pasirinkite savo šiandienos nuotaiką :)</a>
    </button>
</div>
