@model nebrangu.Models.Product

@{
    ViewData["Title"] = "Prekės sukūrimo patvirtinimas";
}

<h1>Prekės sukūrimo patvirtnimas</h1>

<h3>Ar tikrai norite sukūrti šią prekę?</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" disabled />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" disabled />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" disabled />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingCount" class="control-label"></label>
                <input asp-for="RatingCount" class="form-control" disabled />
                <span asp-validation-for="RatingCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="WeatherId" class="control-label"></label>
                <select asp-for="WeatherId" class="form-control" asp-items="ViewBag.WeatherId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <select asp-for="SeasonId" class="form-control" asp-items="ViewBag.SeasonId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="OriginCountry" class="control-label"></label>
                <input asp-for="OriginCountry" class="form-control" disabled />
                <span asp-validation-for="OriginCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Sukurti prekę" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>